.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@font-face {
    font-family: "Rubik";
    src: url(../assets/Rubik/Rubik-VariableFont_wght.ttf);
}
